<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">




    <!--<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">-->
    <!--<property name="basename" value="classpath:label"/>-->
    <!--<property name="defaultEncoding" value="UTF-8"/>-->
    <!--</bean>-->

    <!--<bean id="emf" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">-->
    <!--<property name="dataSource" ref="dataSource" />-->
    <!--<property name="packagesToScan" value="by.usovich" />-->
    <!--<property name="jpaVendorAdapter">-->
    <!--<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">-->
    <!--<property name="showSql" value="true" />-->
    <!--<property name="database" value="MYSQL" />-->
    <!--<property name="databasePlatform" value="org.hibernate.dialect.MySQL5Dialect" />-->
    <!--</bean>-->
    <!--</property>-->
    <!--</bean>-->




    <!-- Фабрика, которая будет строить Hibernate-сессии -->



</beans>